{{#each this}}
<li>
    <div class="photo-card">
        <img class="image" src={{this.webformatURL}} alt="some image" data-set={{this.largeImageURL}} width="320" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons md-24 md-dark">thumb_up</i>
                {{this.likes}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-24 md-dark">visibility</i>
                {{this.views}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-24 md-dark">comment</i>
                {{this.comments}}
            </p>
            <p class="stats-item">
                <i class="material-icons md-24 md-dark">cloud_download</i>
                {{this.downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}